:root {
	--rojo: #ff2949;
	--azul: #030326;
	--gris: #7F7D80;
	--blanco: #FEFBFF;
}	

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
 /*----------------------------------------------------HEADER------------------------------------------------------------*/
body {
	background-color: var(--azul);
}

body {
	background-image: url(../img/fondo.png);
	background-size: cover;
}

.contenedor {
	width: 90%;
	height: 2em;
	margin: auto;
}

header {
	padding: 1.875em 0;
	
}


header .contenedor {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header .logo {
	margin-top: 0.150em;
	width: 13.125em;
	height: 5.375em;
}

header span {
	font-family: 'Poppins', sans-serif;

}

header i {
	color: var(--rojo);
}

header nav a {
	color: var(--blanco);
	text-decoration: none;
	margin-top: 0.150em;
	margin-right: 2.188em;
	font-family: 'Lato', sans-serif;
	transition: 1s ease all;

}

header nav a:hover,
header nav a.activo {
	color: var(--rojo);
	transition: 1s;
}

.emision-texto {
	margin-left: 1.875em;
	color: var(--blanco);
	font-family: 'Lato', sans-serif;
}

/*-------------------------BUSCADOR---------------------*/

#input-search {
	position: relative;
	text-decoration: none;
	margin-top: 1em;
	width: 15em;
	height: 3em;
	text-indent: 0.5em;
	background: var(--azul);
	font-family: 'Poppins', sans-serif;
	color: var(--blanco);

}

#content-search {
	width: 100%;
	height: 10em;
	margin-left: 10em;
	background: var(--azul);
}


.content-table {
	position: fixed;
	width: 75%;
	max-height: 200px;
	height: auto;
	margin-left: 15.5em;
	margin-top: 1em;
	overflow-y: visible;
	overflow-x: hidden;
	background: var(--azul);
	display: none;
}

.content-table table{
	width: 100%
	background: var(--azul);
}

tbody tr td a {
	display: block;
	padding: 10px;
	text-decoration: none;
	background: var(--azul);
}

tbody tr td a:hover {
	background: #000;
}

#table_length, #table_filter, #table_info, #table_paginate {
  	display: none;
}





/*------------LISTA IAMGENES------------------*/

.contenedor-lista {
	position: relative;
	top: 20px;
	width: 90%;
	height: auto;
	margin: auto;
}


.contenedor-lista .lista-imagen {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

}

.contenedor-lista .lista-imagen li {
	margin-right: 0.938em;
	margin-bottom: 0.938em;
	list-style: none;
}

.contenedor-lista .lista-imagen li .contenedor-imagen {
	position: relative;
	width: 15.625em;
	height: 11.25em;
	background: var(--rojo);
	border-radius: 0.625em;
}

.contenedor-lista .lista-imagen li .contenedor-imagen img {
	position: relative;
	width: 15.625em;
	height: 9.375em;
	border-top-right-radius: 0.313em;
	border-top-left-radius: 0.313em;
}


.contenedor-lista .lista-imagen li .contenedor-imagen .info-imagen .ver-masinfo {
	color: var(--blanco);
	text-decoration: none;
	font-family: 'Lato', sans-serif;
	margin-left: 0.313em;
}












/*-------------------------------------------------PIE DE PAGINA---------------------------------------------*/

body .lineadepie {
	border-color: var(--rojo);
}

footer {
	background-color: var(--azul);
}

footer {
	justify-content: center;
	text-align: center;
}


footer i {
	color: var(--rojo);
	margin-right: 0.688em;
}

footer p {
	color: var(--blanco);
	font-family: 'Raleway', sans-serif;
}
